* {
    box-sizing: border-box;
    margin: 0;padding: 0;
    font-family: 'VT323', monospace;;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.game-title {
    font-size: 10vh;
    padding: 5px;
    border: 2px solid black;
    background-color: #ffffffb8;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}


/* BINGO CARD STYLES */

/* .bingo-grid-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
} */

#sortable { 
    list-style-type: none; 
    padding: 0; 
    width: 43vw;
}

#sortable li, 
#free-space { 
    margin: .5vw .5vw 0 0; 
    padding: 1px; 
    float: left; 
    width: 7.8vw; 
    height: 7.8vw; 
    font-size: 4em; 
    text-align: center; 
}

.bingo-grid-image {
    display: flex;
    margin: auto;
    height: 95%;
    width: 95%;
}

.unhighlighted, 
.carousel-background, 
.instructions {
    background-color: #ffffffb8;
    border: solid 2px black;
    transition-duration: 0.5s;
}

.highlighted, 
#free-space {
    transition-duration: 0.5s;
    border: solid 4px #fff832;
    background-color: #ffe100;
    transform: scale(1.06);
    transition-duration: 0.5s;
}

.instructions-container {
    max-height: 70vh;
    max-width: 35vw;
}

.instructions-container h2 {
    text-align: center;
}

.instructions, .key {
    height: 45%;
}

.instructions ol {
    max-width: 95%;
    max-height: 95%;
}

.instructions ol li {
    font-size: 1rem;
}

.carousel-item {
    max-height: 30vh;
}

.carousel-item img {
    max-height: 30vh;
    max-width: 30vh;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    padding: 3%;
}
.carousel-caption h5, 
.carousel-caption p {
    color: black;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}