* {
    box-sizing: border-box;
    margin: 0;padding: 0;
    font-family: 'VT323', monospace;;
}

body, html {
    height: 100%;
    width: 100%;
    /* padding: 10px; */
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffffb8;
    border-bottom: 2px solid black;
    align-items: center;
}

header span {
    font-size: 3vw;
    padding-right: 3%;
}

.game-title {
    font-size: 5vw;
    padding-left: 3%;
}

.container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON STYLES */

#toggle-instructions {
    transition-duration: 0.5s;
}

#toggle-instructions:hover {
    color: #039739;
    transition-duration: 0.5s;
}


/* BINGO CARD STYLES */

#sortable { 
    list-style-type: none; 
    padding: 0; 
    width: 43vw;
}

#sortable li, 
#free-space { 
    margin: .5vw .5vw 0 0; 
    padding: 1px; 
    float: left; 
    width: 7.8vw; 
    height: 7.8vw; 
    font-size: 4em; 
    text-align: center; 
}

.bingo-grid-image {
    display: flex;
    margin: auto;
    height: 95%;
    width: 95%;
}

.unhighlighted {
    background-color: #ffffffb8;
    border: solid 2px black;
    transition-duration: 0.5s;
}

.highlighted, 
#free-space {
    transition-duration: 0.5s;
    border: solid 4px #fff832;
    background-color: #ffe100;
    transform: scale(1.06);
    transition-duration: 0.5s;
}

.bingo-grid {
    padding-top: 2%;
}

/* CAROUSEL AREA STYLES */

.carousel-background,
.instructions {
    background-color: #ffffffe3;
    border: solid 2px black;
    transition-duration: 0.5s;
}

.instructions-container {
    max-height: 70vh;
    max-width: 35vw;
}

.instructions-container h2 {
    text-align: center;
    font-size: 3vw;
}

.instructions, .key {
    height: 45%;
}

.carousel-item {
    max-height: 30vh;
}

.carousel-item img {
    max-height: 30vh;
    max-width: 30vh;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.35;
    padding: 3%;
}
.carousel-caption h5, 
.carousel-caption p {
    color: black;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    filter: invert(100%);
}

/* DYNAMIC STYLES (SEE TOGGLE FUNCTIONS IN SCRIPT.JS) */

.display-none {
    display: none;
}

.center-bingo {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: .8vw;
}

/* MEDIA QUERIES */

@media screen and (max-width: 991px) {
    .center-bingo-small {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-left: 1vw;
    }
}

@media screen and (max-width: 767px) {
    #sortable {
        list-style-type: none; 
        padding: 0; 
        width: 90vw;
    }

    #sortable li,
    #free-space {
        margin: .5vw .5vw 0 0; 
        padding: 1px; 
        float: left; 
        width: 14vw; 
        height: 14vw; 
        text-align: center; 
    }
}

@media screen and (max-width: 593px) {
    #sortable {
        list-style-type: none; 
        padding: 0; 
        width: 85vw;
    }

    #sortable li,
    #free-space {
        margin: .5vw .5vw 0 0; 
        padding: 1px; 
        float: left; 
        width: 14vw; 
        height: 14vw; 
        text-align: center; 
    }
}
