* {
    box-sizing: border-box;
    margin: 0;padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body, html {
    height: 100%;
    width: 100%;
}

/* BINGO CARD STYLES */

.bingo-grid-container {
    display: flex;
    justify-content: center;
}

#sortable { 
    list-style-type: none; 
    margin-top: 10%;
    padding: 0; 
    width: 43vw;
}

#sortable li { 
    margin: .5vw .5vw 0 0; 
    padding: 1px; 
    float: left; 
    width: 7vw; 
    height: 7vw; 
    font-size: 4em; 
    text-align: center; 
    background-color: #ffffff;
    border: solid 2px black;
}

.bingo-grid-image {
    display: flex;
    margin: auto;
    height: 95%;
    width: 95%;
}